@model FagElGamous.Models.BurialData

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>BurialData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BurialId" class="control-label"></label>
                <input asp-for="BurialId" class="form-control" />
                <span asp-validation-for="BurialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialLocNs" class="control-label">Burial Location North or South</label>
                <select asp-for="BurialLocNs" class="form-control">
                    <option value="">Select One</option>
                    <option value="N">North</option>
                    <option value="S">South</option>
                </select>
                <span asp-validation-for="BurialLocNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NsLow" class="control-label">North/South Location Low Value</label>
                <input asp-for="NsLow" class="form-control" />
                <span asp-validation-for="NsLow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NsHigh" class="control-label">North/South Location High Value</label>
                <input asp-for="NsHigh" class="form-control" />
                <span asp-validation-for="NsHigh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialLocEw" class="control-label">Burial Location East or West</label>
                <select asp-for="BurialLocEw" class="form-control">
                    <option value="">Select One</option>
                    <option value="E">East</option>
                    <option value="W">West</option>
                </select>
                <span asp-validation-for="BurialLocEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EwLow" class="control-label">East/West Location Low Value</label>
                <input asp-for="EwLow" class="form-control" />
                <span asp-validation-for="EwLow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EwHigh" class="control-label">East/West Location High Value</label>
                <input asp-for="EwHigh" class="form-control" />
                <span asp-validation-for="EwHigh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subplot" class="control-label">Subplot/Area</label>
                <select asp-for="Subplot" class="form-control">
                    <option value="">Select One</option>
                    <option value="NW">NorthWest</option>
                    <option value="NE">NorthEast</option>
                    <option value="SW">SouthWest</option>
                    <option value="SE">SouthEast</option>
                </select>
                <span asp-validation-for="Subplot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialNum" class="control-label">Burial Number</label>
                <input asp-for="BurialNum" class="form-control" />
                <span asp-validation-for="BurialNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaHillBurials" class="control-label">Area/Hill/Misc. Burial Number</label>
                <input asp-for="AreaHillBurials" class="form-control" />
                <span asp-validation-for="AreaHillBurials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tomb" class="control-label">Tomb Number</label>
                <input asp-for="Tomb" class="form-control" />
                <span asp-validation-for="Tomb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearExcav" class="control-label">Year Excavated</label>
                <input asp-for="YearExcav" class="form-control" />
                <span asp-validation-for="YearExcav" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthExcav" class="control-label">Month Excavated</label>
                <select asp-for="MonthExcav" class="form-control">
                    <option value="">Select One</option>
                    <option value="Jan">Jan</option>
                    <option value="Feb">Feb</option>
                    <option value="Mar">Mar</option>
                    <option value="Apr">Apr</option>
                    <option value="May">May</option>
                    <option value="Jun">Jun</option>
                    <option value="Jul">Jul</option>
                    <option value="Aug">Aug</option>
                    <option value="Sep">Sep</option>
                    <option value="Oct">Oct</option>
                    <option value="Nov">Nov</option>
                    <option value="Dec">Dec</option>
                </select>
                <span asp-validation-for="MonthExcav" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateExcav" class="control-label">Date Excavated</label>
                <input asp-for="DateExcav" class="form-control" />
                <span asp-validation-for="DateExcav" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeExcav" class="control-label">Time Excavated</label>
                <input asp-for="TimeExcav" class="form-control" />
                <span asp-validation-for="TimeExcav" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExcavRecorder" class="control-label">Excavation Recorder</label>
                <input asp-for="ExcavRecorder" class="form-control" />
                <span asp-validation-for="ExcavRecorder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldBook" class="control-label">Field Book</label>
                <input asp-for="FieldBook" class="form-control" />
                <span asp-validation-for="FieldBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldBookPg" class="control-label">Field Book Page Number(s)</label>
                <input asp-for="FieldBookPg" class="form-control" />
                <span asp-validation-for="FieldBookPg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goods" class="control-label">Goods Found</label>
                <select asp-for="Goods" class="form-control">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
                <span asp-validation-for="Goods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtifactFound" class="control-label">Artifact Found</label>
                <input asp-for="ArtifactFound" class="form-control" />
                <span asp-validation-for="ArtifactFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtifactDescription" class="control-label">Artifact Description</label>
                <textarea asp-for="ArtifactDescription" class="form-control" rows="2"></textarea>
                <span asp-validation-for="ArtifactDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairPresent" class="control-label">Hair Present</label>
                <select asp-for="HairPresent" class="form-control">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
                <span asp-validation-for="HairPresent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairColorCode" class="control-label">Hair Color Code</label>
                <select asp-for="HairColorCode" class="form-control">
                    <option value="">Select One</option>
                    <option value="B">B - Brown/Dark Brown/Light Brown</option>
                    <option value="K">K - Black</option>
                    <option value="A">A - Brown-Red</option>
                    <option value="R">R - Red/Red-Bl</option>
                    <option value="D">D - Blond</option>
                    <option value="U">U - Unknown</option>
                </select>
                <span asp-validation-for="HairColorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialHairColor" class="control-label">Burial Hair Color</label>
                <input asp-for="BurialHairColor" class="form-control" />
                <span asp-validation-for="BurialHairColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaceBundle" class="control-label">Face Bundle</label>
                <select asp-for="FaceBundle" class="form-control">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
                <span asp-validation-for="FaceBundle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialSampleTaken" class="control-label">Burial Sample Taken</label>
                <select asp-for="BurialSampleTaken" class="form-control">
                    <option value="">Select One</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <span asp-validation-for="BurialSampleTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairTaken" class="control-label">Hair Taken</label>
                <select asp-for="HairTaken" class="form-control">
                    <option value="">Select One</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <span asp-validation-for="HairTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoftTissueTaken" class="control-label">Soft Tissue Taken</label>
                <select asp-for="SoftTissueTaken" class="form-control">
                    <option value="">Select One</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <span asp-validation-for="SoftTissueTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoneTaken" class="control-label">Bone Taken</label>
                <select asp-for="BoneTaken" class="form-control">
                    <option value="">Select One</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <span asp-validation-for="BoneTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToothTaken" class="control-label">Tooth Taken</label>
                <select asp-for="ToothTaken" class="form-control">
                    <option value="">Select One</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <span asp-validation-for="ToothTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextileTaken" class="control-label">Textile Taken</label>
                <select asp-for="TextileTaken" class="form-control">
                    <option value="">Select One</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <span asp-validation-for="TextileTaken" class="text-danger"></span>
            </div>
            @*somehow make this textbox bigger*@
            <div class="form-group">
                <label asp-for="DescriptionOfTaken" class="control-label">Description of Taken</label>
                <textarea asp-for="DescriptionOfTaken" class="form-control"  rows="3"></textarea>
                <span asp-validation-for="DescriptionOfTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimateLivingStature" class="control-label">Estimate Living Stature (cm)</label>
                <input asp-for="EstimateLivingStature" class="form-control" />
                <span asp-validation-for="EstimateLivingStature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthOfRemains" class="control-label">Length of Remains (cm)</label>
                <input asp-for="LengthOfRemains" class="form-control" />
                <span asp-validation-for="LengthOfRemains" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialLength" class="control-label">Burial Length(cm)</label>
                <input asp-for="BurialLength" class="form-control" />
                <span asp-validation-for="BurialLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialDepth" class="control-label">Burial Depth(cm)</label>
                <input asp-for="BurialDepth" class="form-control" />
                <span asp-validation-for="BurialDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialSituationNotes" class="control-label">Burial Situation Notes</label>
                <textarea asp-for="BurialSituationNotes" class="form-control" rows="3"></textarea>
                <span asp-validation-for="BurialSituationNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WestToHead" class="control-label">Distance from West to Head(m)</label>
                <input asp-for="WestToHead" class="form-control" />
                <span asp-validation-for="WestToHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WestToFeet" class="control-label">Distance from West to Feet(m)</label>
                <input asp-for="WestToFeet" class="form-control" />
                <span asp-validation-for="WestToFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SouthToHead" class="control-label">Distance from South to Head(m)</label>
                <input asp-for="SouthToHead" class="form-control" />
                <span asp-validation-for="SouthToHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SouthToFeet" class="control-label">Distance from South to Feet(m)</label>
                <input asp-for="SouthToFeet" class="form-control" />
                <span asp-validation-for="SouthToFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SampleNumber" class="control-label">Sample Number</label>
                <input asp-for="SampleNumber" class="form-control" />
                <span asp-validation-for="SampleNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreservationIndex" class="control-label">Preservation Condition of the Burial</label>
                <select asp-for="PreservationIndex" class="form-control">
                    <option value="">Select One</option>
                    <option value="I">Only bones</option>
                    <option value="II">5-25% tissue and/or textiles</option>
                    <option value="III">50% or less tissue and/or textiles</option>
                    <option value="IV">75% or less tissue and/or textiles</option>
                    <option value="IV">Over 75% tissue and/or textiles</option>
                </select>
                <span asp-validation-for="PreservationIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialPreservation" class="control-label">Burial Preservation Notes</label>
                <textarea asp-for="BurialPreservation" class="form-control" rows="3"></textarea>
                <span asp-validation-for="BurialPreservation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialMaterials" class="control-label">Burial Materials</label>
                <textarea asp-for="BurialMaterials" class="form-control" rows="3"></textarea>
                <span asp-validation-for="BurialMaterials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialWrapping" class="control-label">Burial Wrapping</label>
                <select asp-for="BurialWrapping" class="form-control">
                    <option value="">Select One</option>
                    <option value="W">Full or nearly full wrapping remains</option>
                    <option value="H">Partial wrapping remain</option>
                    <option value="B">Bones and/or only partial remnants of wrapping remains</option>
                    <option value="U">Unknown</option>
                </select>
                <span asp-validation-for="BurialWrapping" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialDirection" class="control-label">Burial Direction</label>
                <select asp-for="BurialDirection" class="form-control">
                    <option value="">Select One</option>
                    <option value="E">East</option>
                    <option value="W">West</option>
                </select>
                <span asp-validation-for="BurialDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadDirection" class="control-label">Head Direction</label>
                <select asp-for="HeadDirection" class="form-control">
                    <option value="">Select One</option>
                    <option value="E">East</option>
                    <option value="W">West</option>
                </select>
                <span asp-validation-for="HeadDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClusterYn" class="control-label">Burial is part of cluster</label>
                <select asp-for="ClusterYn" class="form-control">
                    <option value="">Select One</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <span asp-validation-for="ClusterYn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClusterNum" class="control-label">Cluster Number(s)</label>
                <input asp-for="ClusterNum" class="form-control" />
                <span asp-validation-for="ClusterNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label">Sex</label>
                <select asp-for="Sex" class="form-control">
                    <option value="">Select One</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="U">Unknown</option>
                </select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SexMethod" class="control-label">Method of Determining Sex</label>
                <select asp-for="SexMethod" class="form-control">
                    <option value="">Select One</option>
                    <option value="S">Skull</option>
                    <option value="P">Pelvis</option>
                    <option value="U">Unknown</option>
                </select>
                <span asp-validation-for="SexMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderGe" class="control-label">The gender determined by the Giles/Elliot functions</label>
                <select asp-for="GenderGe" class="form-control">
                    <option value="">Select One</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="U">Undetermined</option>
                </select>
                <span asp-validation-for="GenderGe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeFunctionTotal" class="control-label">The total produced by the Giles/Elliot function</label>
                <input asp-for="GeFunctionTotal" class="form-control" />
                <span asp-validation-for="GeFunctionTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeAtDeath" class="control-label">Age at Death</label>
                <input asp-for="AgeAtDeath" class="form-control" />
                <span asp-validation-for="AgeAtDeath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeCode" class="control-label">Age Code</label>
                <select asp-for="AgeCode" class="form-control">
                    <option value="">Select One</option>
                    <option value="A">Adult - year 15+</option>
                    <option value="C">Child - years 3-15</option>
                    <option value="I">Infant - years 1-3</option>
                    <option value="N">Newborn - year 0-1</option>
                    <option value="U">Unknown</option>
                </select>
                <span asp-validation-for="AgeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeMethod" class="control-label">Age Method</label>
                <select asp-for="AgeMethod" class="form-control">
                    <option value="">Select One</option>
                    <option value="S">Skull</option>
                    <option value="P">Pelvis</option>
                    <option value="U">Unknown</option>
                </select>
                <span asp-validation-for="AgeMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialAdultChild" class="control-label">Burial of Adult or Child</label>
                <select asp-for="BurialAdultChild" class="form-control">
                    <option value="">Select One</option>
                    <option value="A">Adult</option>
                    <option value="C">Any non-adult including infant, child, juvenile, fetus</option>
                </select>
                <span asp-validation-for="BurialAdultChild" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToBeCo0firmed" class="control-label">To Be Studied Again</label>
                <select asp-for="ToBeCo0firmed" class="form-control">
                    <option value="">Select One</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <span asp-validation-for="ToBeCo0firmed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="B1uSample" class="control-label">Is a biological sample of the burial present at BYU</label>
                <select asp-for="B1uSample" class="form-control">
                    <option value="">Select One</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <span asp-validation-for="B1uSample" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyAnalysis" class="control-label">Year in which a body analysis was performed</label>
                <input asp-for="BodyAnalysis" class="form-control" />
                <span asp-validation-for="BodyAnalysis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOnSkull" class="control-label">Year on Skull</label>
                <input asp-for="YearOnSkull" class="form-control" />
                <span asp-validation-for="YearOnSkull" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthOnSkull" class="control-label">Month on Skull</label>
                <select asp-for="MonthOnSkull" class="form-control">
                    <option value="">Select One</option>
                    <option value="Jan">Jan</option>
                    <option value="Feb">Feb</option>
                    <option value="Mar">Mar</option>
                    <option value="Apr">Apr</option>
                    <option value="May">May</option>
                    <option value="Jun">Jun</option>
                    <option value="Jul">Jul</option>
                    <option value="Aug">Aug</option>
                    <option value="Sep">Sep</option>
                    <option value="Oct">Oct</option>
                    <option value="Nov">Nov</option>
                    <option value="Dec">Dec</option>
                </select>
                <span asp-validation-for="MonthOnSkull" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOnSkull" class="control-label">Date on Skull</label>
                <input asp-for="DateOnSkull" class="form-control" />
                <span asp-validation-for="DateOnSkull" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkullAtMagazi0e" class="control-label">Skull (or just cranium or mandible) stored at the FEGB</label>
                <select asp-for="SkullAtMagazi0e" class="form-control">
                    <option value="">Select One</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <span asp-validation-for="SkullAtMagazi0e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcra0iaAtMagazi0e" class="control-label">Bones from the neck down (postcrania) stored at the FEGB</label>
                <select asp-for="Postcra0iaAtMagazi0e" class="form-control">
                    <option value="">Select One</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <span asp-validation-for="Postcra0iaAtMagazi0e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SexSkull2018" class="control-label">Sex of the burial based on skull characteristics studied in 2018</label>
                <select asp-for="SexSkull2018" class="form-control">
                    <option value="">Select One</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                <span asp-validation-for="SexSkull2018" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeSkull2018" class="control-label">Age of the burial based on skull characteristics studied in 2018</label>
                <select asp-for="AgeSkull2018" class="form-control">
                    <option value="">Select One</option>
                    <option value="A">Adult - year 15+</option>
                    <option value="C">Child - years 3-15</option>
                    <option value="I">Infant - years 1-3</option>
                    <option value="N">Newborn - year 0-1</option>
                    <option value="U">Unknown</option>
                </select>
                <span asp-validation-for="AgeSkull2018" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArcGisRefNum" class="control-label">ARC GIS reference number</label>
                <input asp-for="ArcGisRefNum" class="form-control" />
                <span asp-validation-for="ArcGisRefNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasilarSuture" class="control-label">Basilar Structure</label>
                <select asp-for="BasilarSuture" class="form-control">
                    <option value="">Select One</option>
                    <option value="Open">Open</option>
                    <option value="Closed">Closed</option>
                </select>
                <span asp-validation-for="BasilarSuture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VentralArc" class="control-label">Ventral Arc</label>
                <select asp-for="VentralArc" class="form-control">
                    <option value="">Select One</option>
                    <option value="0">No data</option>
                    <option value="1">Minimal arc</option>
                    <option value="2">Intermediate arc</option>
                    <option value="3">Maximum arc</option>
                </select>
                <span asp-validation-for="VentralArc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubpubicAngle" class="control-label">Subpubic Angle</label>
                <select asp-for="SubpubicAngle" class="form-control">
                    <option value="">Select One</option>
                    <option value="0">No data</option>
                    <option value="1">Minimal angle</option>
                    <option value="2">Intermediate angle</option>
                    <option value="3">Maximum angle</option>
                </select>
                <span asp-validation-for="SubpubicAngle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SciaticNotch" class="control-label">Sciatic Notch</label>
                <select asp-for="SciaticNotch" class="form-control">
                    <option value="">Select One</option>
                    <option value="0">No data</option>
                    <option value="1">Minimal notch</option>
                    <option value="2">Intermediate notch</option>
                    <option value="3">Maximum notch</option>
                </select>
                <span asp-validation-for="SciaticNotch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubicBone" class="control-label">Pubic Bone</label>
                <select asp-for="PubicBone" class="form-control">
                    <option value="">Select One</option>
                    <option value="0">No data</option>
                    <option value="1">Minimal</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Maximum</option>
                </select>
                <span asp-validation-for="PubicBone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreaurSulcus" class="control-label">Preaur Sulcus</label>
                <select asp-for="PreaurSulcus" class="form-control">
                    <option value="">Select One</option>
                    <option value="0">No data</option>
                    <option value="1">Minimal</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Maximum</option>
                </select>
                <span asp-validation-for="PreaurSulcus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedialIpRamus" class="control-label">Medial IP Ramus</label>
                <select asp-for="MedialIpRamus" class="form-control">
                    <option value="">Select One</option>
                    <option value="0">No data</option>
                    <option value="1">Minimal</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Maximum</option>
                </select>
                <span asp-validation-for="MedialIpRamus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DorsalPitting" class="control-label">Dorsal Pitting</label>
                <select asp-for="DorsalPitting" class="form-control">
                    <option value="">Select One</option>
                    <option value="0">No data</option>
                    <option value="1">Minimal</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Maximum</option>
                </select>
                <span asp-validation-for="DorsalPitting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForemanMagnum" class="control-label">Foreman Magnum</label>
                <input asp-for="ForemanMagnum" class="form-control" />
                <span asp-validation-for="ForemanMagnum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FemurHead" class="control-label">Femur Head</label>
                <input asp-for="FemurHead" class="form-control" />
                <span asp-validation-for="FemurHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HumerusHead" class="control-label">Humerus Head</label>
                <input asp-for="HumerusHead" class="form-control" />
                <span asp-validation-for="HumerusHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Osteophytosis" class="control-label"></label>
                <select asp-for="Osteophytosis" class="form-control">
                    <option value="">Select One</option>
                    <option value="None">None</option>
                    <option value="Slight">Slight</option>
                    <option value="Moderate">Moderate</option>
                    <option value="Heavy">Heavy</option>
                </select>
                <span asp-validation-for="Osteophytosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubicSymphysis" class="control-label">Pubic Symphysis</label>
                <select asp-for="PubicSymphysis" class="form-control">
                    <option value="">Select One</option>
                    <option value="I">I - least worn/youngest</option>
                    <option value="II">II</option>
                    <option value="III">III</option>
                    <option value="IV">IV</option>
                    <option value="V">V - most worn/oldest</option>
                </select>
                <span asp-validation-for="PubicSymphysis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FemurLength" class="control-label">Femur Length (cm)</label>
                <input asp-for="FemurLength" class="form-control" />
                <span asp-validation-for="FemurLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HumerusLength" class="control-label">Humerus Length (cm)</label>
                <input asp-for="HumerusLength" class="form-control" />
                <span asp-validation-for="HumerusLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TibiaLength" class="control-label">Tibia Length (cm)</label>
                <input asp-for="TibiaLength" class="form-control" />
                <span asp-validation-for="TibiaLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Robust" class="control-label">Robust (general descriptor of the skull)</label>
                <select asp-for="Robust" class="form-control">
                    <option value="">Select One</option>
                    <option value="0">No data</option>
                    <option value="1">Petite</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Robust</option>
                </select>
                <span asp-validation-for="Robust" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupraorbitalRidges" class="control-label">Supraorbital Ridges</label>
                <select asp-for="SupraorbitalRidges" class="form-control">
                    <option value="">Select One</option>
                    <option value="0">No data</option>
                    <option value="1">Petite</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Robust</option>
                </select>
                <span asp-validation-for="SupraorbitalRidges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrbitEdge" class="control-label"></label>
                <select asp-for="OrbitEdge" class="form-control">
                    <option value="">Select One</option>
                    <option value="0">No data</option>
                    <option value="1">Petite</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Rounded</option>
                </select>
                <span asp-validation-for="OrbitEdge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParietalBossing" class="control-label">Parietal Bossing</label>
                <select asp-for="ParietalBossing" class="form-control">
                    <option value="">Select One</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <span asp-validation-for="ParietalBossing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gonian" class="control-label"></label>
                <select asp-for="Gonian" class="form-control">
                    <option value="">Select One</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <span asp-validation-for="Gonian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NuchalCrest" class="control-label">Nuchal Crest</label>
                <select asp-for="NuchalCrest" class="form-control" >
                    <option value="">Select One</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <span asp-validation-for="NuchalCrest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZygomaticCrest" class="control-label">Zygomatic Crest</label>
                <select asp-for="ZygomaticCrest" class="form-control">
                    <option value="">Select One</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <span asp-validation-for="ZygomaticCrest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CranialSuture" class="control-label">Cranial Suture</label>
                <input asp-for="CranialSuture" class="form-control" />
                <span asp-validation-for="CranialSuture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumCranialLength" class="control-label">Maximum Cranial Length</label>
                <input asp-for="MaximumCranialLength" class="form-control" />
                <span asp-validation-for="MaximumCranialLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumCranialBreadth" class="control-label">Maximum Cranial Breadth</label>
                <input asp-for="MaximumCranialBreadth" class="form-control" />
                <span asp-validation-for="MaximumCranialBreadth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasionBregmaHeight" class="control-label">Basion Bregma Height</label>
                <input asp-for="BasionBregmaHeight" class="form-control" />
                <span asp-validation-for="BasionBregmaHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasionNasion" class="control-label">Basion Nasion</label>
                <input asp-for="BasionNasion" class="form-control" />
                <span asp-validation-for="BasionNasion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasionProsthionLength" class="control-label">Basion Prosthion Length</label>
                <input asp-for="BasionProsthionLength" class="form-control" />
                <span asp-validation-for="BasionProsthionLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BizygomaticDiameter" class="control-label">Bizygomatic Diameter</label>
                <input asp-for="BizygomaticDiameter" class="form-control" />
                <span asp-validation-for="BizygomaticDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NasionProsthion" class="control-label">Nasion Prosthion</label>
                <input asp-for="NasionProsthion" class="form-control" />
                <span asp-validation-for="NasionProsthion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumNasalBreadth" class="control-label">Maximum Nasal Breadth</label>
                <input asp-for="MaximumNasalBreadth" class="form-control" />
                <span asp-validation-for="MaximumNasalBreadth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterorbitalBreadth" class="control-label">Interorbital Breadth</label>
                <input asp-for="InterorbitalBreadth" class="form-control" />
                <span asp-validation-for="InterorbitalBreadth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkullTrauma" class="control-label">Skull Trauma</label>
                <select asp-for="SkullTrauma" class="form-control">
                    <option value="">Select One</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <span asp-validation-for="SkullTrauma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcra0iaTrauma" class="control-label">Postcrania Trauma</label>
                <select asp-for="Postcra0iaTrauma" class="form-control">
                    <option value="">Select One</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <span asp-validation-for="Postcra0iaTrauma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CribraOrbitala" class="control-label">Cribra Orbitala</label>
                <select asp-for="CribraOrbitala" class="form-control">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
                <span asp-validation-for="CribraOrbitala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoroticHyperostosis" class="control-label">Porotic Hyperostosis</label>
                <select asp-for="PoroticHyperostosis" class="form-control">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
                <span asp-validation-for="PoroticHyperostosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoroticHyperostosisLocations" class="control-label"></label>
                <input asp-for="PoroticHyperostosisLocations" class="form-control" />
                <span asp-validation-for="PoroticHyperostosisLocations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetopicSuture" class="control-label">Metopic Suture</label>
                <select asp-for="MetopicSuture" class="form-control">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
                <span asp-validation-for="MetopicSuture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ButtonOsteoma" class="control-label">Button Osteoma</label>
                <select asp-for="ButtonOsteoma" class="form-control">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
                <span asp-validation-for="ButtonOsteoma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OsteologyUnknownComment" class="control-label">Osteology Unknown</label>
                <input asp-for="OsteologyUnknownComment" class="form-control" />
                <span asp-validation-for="OsteologyUnknownComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TmjOa" class="control-label">Temporal Mandibular Joint Osteoarthritis (TMJ OA)</label>
                <select asp-for="TmjOa" class="form-control">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
                <span asp-validation-for="TmjOa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinearHypolasiaEnamel" class="control-label">Linear Hypolasia Enamel</label>
                <select asp-for="LinearHypolasiaEnamel" class="form-control">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
                <span asp-validation-for="LinearHypolasiaEnamel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToothAttrition" class="control-label">Tooth Attrition</label>
                <select asp-for="ToothAttrition" class="form-control">
                    <option value="">Select One</option>
                    <option value="I">I - No wear</option>
                    <option value="II">II - Some wear</option>
                    <option value="III">III - Medium wear</option>
                    <option value="IV">IV - Significant wear</option>
                    <option value="V">V - Flat</option>
                </select>
                <span asp-validation-for="ToothAttrition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToothEruption" class="control-label"></label>
                <textarea asp-for="ToothEruption" class="form-control" rows="2"></textarea>
                <span asp-validation-for="ToothEruption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathologyAnomalies" class="control-label">Pathology Anomalies</label>
                <textarea asp-for="PathologyAnomalies" class="form-control" rows="4"></textarea>
                <span asp-validation-for="PathologyAnomalies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpiphysealUnion" class="control-label">Epiphyseal Union</label>
                <input asp-for="EpiphysealUnion" class="form-control" />
                <span asp-validation-for="EpiphysealUnion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OsteologyNotes" class="control-label">Notes</label>
                <textarea asp-for="OsteologyNotes" class="form-control" rows="6"></textarea>
                <span asp-validation-for="OsteologyNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
