@model LocSearch
<h3>Find record by burial location ID</h3>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post" asp-action="BurialLocSearch" class="form-inline" >
                <select class="form-control mx-2" asp-for="NorthSouth">
                    <option value="">Select One</option>
                    <option value="N">North</option>
                    <option value="S">South</option>
                </select>
                <input class="form-control mx-2" placeholder="N/S Low" asp-for="NSLow" style="width:120px"/>
                <select class="form-control mx-2" asp-for="EastWest">
                    <option value="">Select One</option>
                    <option value="E">East</option>
                    <option value="W">West</option>
                </select>
                <input class="form-control mx-2" placeholder="E/W Low" asp-for="EWLow" style="width:120px"/>
                <select class="form-control mx-2" asp-for="Subplot">
                    <option value="">Select One</option>
                    <option value="NW">NW</option>
                    <option value="SW">SW</option>
                    <option value="NE">NE</option>
                    <option value="SE">SE</option>
                </select>
                <input class="form-control mx-2" placeholder="Burial #" asp-for="BurialNumber" style="width:120px"/>
                <button type="submit" class="btn btn-secondary">Search</button>
            </form>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
</div>
<br />