<h4>Filter by Burial Direction</h4>
<a asp-action="BurialDirection" asp-route-direction="" class="btn btn-block @(ViewBag.BurialDirection is null ? "btn-secondary" : "btn-outline-dark")">Clear Filter</a>
<a asp-action="BurialDirection" asp-route-direction="E" class="btn btn-block @(ViewBag.BurialDirection == "E" ? "btn-secondary" : "btn-outline-dark")">East</a>
<a asp-action="BurialDirection" asp-route-direction="W" class="btn btn-block @(ViewBag.BurialDirection == "W" ? "btn-secondary" : "btn-outline-dark")">West</a>



