@model FagElGamous.Models.BioSampleData

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*form for researcher to create a new record for the bio sample data table*@
<h1>Create A New Record</h1>

<h4>Bio Sample Data</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BioSampleId" class="control-label"></label>
                <input asp-for="BioSampleId" class="form-control" />
                <span asp-validation-for="BioSampleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RackNum" class="control-label">Rack Number</label>
                <input asp-for="RackNum" class="form-control" />
                <span asp-validation-for="RackNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BagNum" class="control-label">Bag Number</label>
                <input asp-for="BagNum" class="form-control" />
                <span asp-validation-for="BagNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialLocNs" class="control-label">Burial Location North or South</label>
                <select asp-for="BurialLocNs" class="form-control">
                    <option value="">Select One</option>
                    <option value="N">North</option>
                    <option value="S">South</option>
                </select>
                <span asp-validation-for="BurialLocNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NsLow" class="control-label">North/South Location Low Value</label>
                <input asp-for="NsLow" class="form-control" />
                <span asp-validation-for="NsLow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NsHigh" class="control-label">North/South Location High Value</label>
                <input asp-for="NsHigh" class="form-control" />
                <span asp-validation-for="NsHigh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialLocEw" class="control-label">Burial Location East or West</label>
                <select asp-for="BurialLocEw" class="form-control">
                    <option value="">Select One</option>
                    <option value="E">East</option>
                    <option value="W">West</option>
                </select>
                <span asp-validation-for="BurialLocEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EwLow" class="control-label">East/West Location Low Value</label>
                <input asp-for="EwLow" class="form-control" />
                <span asp-validation-for="EwLow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EwHigh" class="control-label">East/West Location High Value</label>
                <input asp-for="EwHigh" class="form-control" />
                <span asp-validation-for="EwHigh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subplot" class="control-label">Subplot/Area</label>
                <select asp-for="Subplot" class="form-control">
                    <option value="">Select One</option>
                    <option value="NW">NorthWest</option>
                    <option value="NE">NorthEast</option>
                    <option value="SW">SouthWest</option>
                    <option value="SE">SouthEast</option>
                </select>
                <span asp-validation-for="Subplot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialNum" class="control-label">Burial Number</label>
                <input asp-for="BurialNum" class="form-control" />
                <span asp-validation-for="BurialNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialItemId" class="control-label">Burial Item ID</label>
                <input asp-for="BurialItemId" class="form-control" />
                <span asp-validation-for="BurialItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BioSampleDate" class="control-label">Bio Sample Date</label>
                <input asp-for="BioSampleDate" class="form-control" />
                <span asp-validation-for="BioSampleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrevSampled" class="control-label">Previously Sampled</label>
                <select asp-for="PrevSampled" class="form-control">
                    <option value="">Select One</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <span asp-validation-for="PrevSampled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClusterNum" class="control-label">Cluster Number</label>
                <input asp-for="ClusterNum" class="form-control" />
                <span asp-validation-for="ClusterNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label">Notes</label>
                <textarea asp-for="Notes" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initials" class="control-label">Initials</label>
                <input asp-for="Initials" class="form-control" />
                <span asp-validation-for="Initials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialId" class="control-label">Burial ID</label>
                <select asp-for="BurialId" class="form-control" asp-items="ViewBag.BurialId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
