@model IEnumerable<string>

<h4>Filter by Sex</h4>
<a asp-action="Index" asp-controller="Admin" asp-route-sex="" class="btn btn-block @(ViewBag.Sex is null ? "btn-secondary" : "btn-outline-dark")">Clear Filter</a>
@if ("M" == ViewBag.Sex)
{
    <a asp-action="Index" asp-controller="Admin" asp-route-sex="M" class="btn btn-block btn-secondary">M</a>
}
else
{
    <a asp-action="Index" asp-controller="Admin" asp-route-sex="M" class="btn btn-block btn-outline-dark">M</a>
}
@if ("F" == ViewBag.Sex)
{
    <a asp-action="Index" asp-controller="Admin" asp-route-sex="F" class="btn btn-block btn-secondary">F</a>
}
else
{
    <a asp-action="Index" asp-controller="Admin" asp-route-sex="F" class="btn btn-block btn-outline-dark">F</a>
}
