@model IEnumerable<string>

<h4>Filter by Sex</h4>
<a asp-action="Index" asp-controller="Admin" asp-route-sex="" class="btn btn-block @(ViewBag.Sex is null ? "btn-secondary" : "btn-outline-dark")">Clear Filter</a>
@foreach (string x in Model)
{
    <a asp-action="Index" asp-controller="Admin" asp-route-sex="@x" class="btn btn-block @(x == ViewBag.Sex ? "btn-secondary" : "btn-outline-dark")">@x</a><br />
}
