@model UserManagerIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fag el-Gamous</title>
    <title>@ViewData["Title"] Fag el-Gamous</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<body style="color: #997B66;background-color: #F1DCA7;">




                            <tr>
                            </tr>
                    </div>
                </div>
            </div>
            <br />

        </div>

        <footer class="border-top footer text-muted text-center">
