@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}

<h1>@ViewData["Title"]!</h1>
<p>Success! Your Email has been confirmed, please login using your Email and password 
    to begin browsing the Fag el-Gamous Database with your user account.</p>