@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, your options are to:
        <ol>
            <li>Check the Email associated with your account to reset your password</li>
            <li>Try logging in again after waiting 60 minutes</li>
        </ol>
    </p>
</header>
