@model IEnumerable<string>

    <a class="btn btn-block @(ViewBag.SelectedUserType is null ? "btn-secondary" : "btn-outline-dark")"
       asp-action="Index" asp-controller="UserManager" asp-route-usertype="">Home</a>
@foreach (string x in Model)
{
    <a class="btn btn-block @(x == ViewBag.SelectedUserType ? "btn-secondary" : "btn-outline-dark")"
       asp-action="Index" asp-controller="UserManager" asp-route-usertype="@x">@x</a>
}

