/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    z-index: 1;
}

/* Provide sufficient contrast against white background */
a {
    color: #997B66;
}

.btn-primary {
    color: #997B66;
    background-color: #FFCB69;
    border-color: #FFCB69;
}

.btn-light {
    color: #997B66;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #997B66;
    background-color: #FFCB69;
    border-color: #FFCB69;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0);
}
.background{
    color: bisque;
}
button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family:'Roboto', sans-serif;
   
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.button {
    display: inline-block;
    border-radius: 3px;
    background-color: #FFCB69;
    border: none;
    color: #997B66;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 280px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button2 {
    display: inline-block;
    border-radius: 3px;
    background-color: #FFCB69;
    border: none;
    color: #997B66;
    text-align: center;
    font-size: 13px;
    padding: 8px;
    width: 120px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px;
}

.btn-info {
    background-color: #FFCB69;
    color: #997B66;
    
}
    .btn-info:hover {
        background-color: #D08C60;
        color: wheat;
    }

.btn-primary {
    background-color: #FFCB69;
    color: #997B66;
}

    .btn-primary:hover {
        background-color: #D08C60;
        color: wheat;
    }

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

/* lora-regular - latin */
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #997B66;
    src: url('../fonts/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''), url('../fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v27-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}


.masthead {
    min-height: 300px;
    background-image: url(../img/banner1-Edit.jpg);
    background-position: top;
    background-repeat: repeat-x;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}

.fontsize{
    font-size: larger;
}

/* Position the navbar container inside the image */

/* The navbar */
.topnav {
    overflow: hidden;
    background: rgba(0,0,0,0.2);
    width: 100%;
}


    .topnav a:hover {
       
        color: black
        width: 100%
        height: 100%;
    }

.fontwhite {
    color: white;
    font-weight: bold;
}
.nav > li {
    display: inline-block;
}
li {
    display: inline;
}